<div class="col l3 s12">
    <div class="card blue-grey darken-2">
        <div class="card-image">
            <img src="{{ asset('media/news/news_image_1.jpg') }}" alt="Image de profile">
            <span class="col s12 card-title blue-grey darken-4 center-align"><strong>{{ rank.rolNom }}</strong></span>
        </div>
        <div class="card-content">
            <p>{{ rank.rolDescription }}</p>
            <ul>
                <li><strong>Nb utilisateurs :</strong></li>
            </ul>
        </div>
    </div>
</div>