<div class="container">
    <div class="row">
        <div class="col s12 m12 l3">
            <h5 class="black-text">Qui sommes-nous ?</h5>
            <p class="grey-text text-darken-1">
                Passionnés de mangas, nous avons eu l'idée de créer un site communautaire pour encourager et faciliter leur création.
                <br>
                Il permet de se retrouver en tant que créateur mais aussi en tant que fan.
                <br>
                Partager vos idées de créations (scénarios, planches) ainsi que votre avis.
                <br>
                <br>
                Vous êtes spécialisé dans l'écriture de scénarios et recherchez un dessinateur pour illustrer vos aventures ou inversement ?
                <br>
                Effectuez une demande de recrutement avec un genre de récit ou de dessin rechercher. Découvrez le profil des autres utilisateurs, qui sait, vous trouverez peut-être votre partenaire.
                <br>
                Récoltez des fonds auprès de la communauté afin  d'un jour pouvoir vivre de votre passion.
            </p>
        </div>
        <!--<div class="col offset-l1 offset-m2 s4 m3 l3">
            <h5 class="black-text">Liens utiles</h5>
            <ul class="grey-text darken-3">
                <li><a href="#">Lien 1</a></li>
                <li><a href="#">Lien 2</a></li>
                <li><a href="#">Lien 3</a></li>
                <li><a href="#">Lien 4</a></li>
                <li><a href="#">Lien 5</a></li>
                <li><a href="#">Lien 6</a></li>
                <li><a href="#">Lien 7</a></li>
                <li><a href="#">Lien 8</a></li>
                <li><a href="#">Lien 9</a></li>
            </ul>

        </div> -->
        <div class="col offset-l1 offset-m2 s4 m3 l3">
            <h5 class="black-text">Nous suivre</h5>
            <ul>
                <li>
                    <a target="_blank" class="waves-effect waves-light btn-floating social twitter" href="https://twitter.com/LeMangaFr">
                        <i class="fab fa-twitter-square"></i> Twitter
                    </a>
                </li>
                <li><a target="_blank" href="https://www.instagram.com/lemangafrancais/">Instagram</a></li>
            </ul>
        </div>
        <div class="col offset-l1 offset-m2 s4 m3 l3">
            <h5 class="black-text">Légal</h5>
            <ul>
                <li><a href="#">Lien 1</a></li>
                <li><a href="#">Lien 2</a></li>
                <li><a href="#">Lien 3</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright grey-text darken-4">
    <div class="container text-darken-2 grey-text">
        © 2019 LeMangaFrancais.fr
        <a class="right grey-text text-darken-2" href="{{ path('about.index') }}">En savoir plus...</a>
    </div>
</div>