<div class="container">
    <table class="centered">
        <thead>
        <tr>
            <th>Heure</th>
            <th>Activité</th>
        </tr>
        </thead>
        <tbody>
        {% for activite in user.utiActivites %}
            <tr>
                <td>{{ activite.actDate }}</td>
                <td>{{ activite.actDescription }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>