<ul id="profile" class="dropdown-content">
    <li>
        <ul class="collection">
            <li class="collection-item avatar row">
                <i class="material-icons circle yellow s3">star</i>
                <div class="col s9">
                    <span class="title">Title</span>
                    <p>First Line<br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons orange-text">delete</i></a>
                </div>
            </li>
            <li class="collection-item avatar row">
                <i class="material-icons circle yellow s3">star</i>
                <div class="col s9">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons orange-text">delete</i></a>
                </div>
            </li>
            <li class="collection-item avatar row">
                <i class="material-icons circle yellow s3">star</i>
                <div class="col s9">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons orange-text">delete</i></a>
                </div>
            </li>
            <li class="collection-item avatar row">
                <i class="material-icons circle yellow s3">star</i>
                <div class="col s9">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons orange-text">delete</i></a>
                </div>
            </li>
            <li class="collection-item avatar row">
                <i class="material-icons circle yellow s3">star</i>
                <div class="col s9">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons orange-text">delete</i></a>
                </div>
            </li>
            <li class="collection-item avatar row">
                <i class="material-icons circle yellow s3">star</i>
                <div class="col s9">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons orange-text">delete</i></a>
                </div>
            </li>
        </ul>
    </li>
    <li class="row orange">
        <a class="col s4" href="#private-message"><span class="center"><i class="material-icons white-text">mail</i></span></a>
        <a class="col s4" href="{{ path('users.show', {id: app.user.id}) }}"><span class="center"><i class="material-icons white-text">person</i></span></a>
        <a class="col s4" href="{{ path('signout') }}"><span class="center"><i class="material-icons white-text">close</i></span></a>
    </li>
</ul>